/* commons  */

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Whitney', sans-serif;
}


.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

.container {
    width: 70%;
    margin: 0 auto;
    height: 100%;
}

.white {
    background-color: white;
    color:black;
}

.black {
    background-color: black;
    color:white;
}


/* header  */

header {
    height:80px;
    width: 100%;
    background-color: #255ee9;
    line-height: 80px;
}

.logo,
.button {
    width: 25%;
    float: left;
}

.logo img {
    vertical-align: middle;
}

nav {
    width: 50%;
    float: left;
    text-align: center;
}

nav li {
    display: inline-block;
}

nav li a{
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
    font-weight: 600;
}

.buttonhead {
    text-align: right;
}

.buttonhead a {
    color:black;
    text-decoration: none;
    padding: 10px 16px;
    font-size: 14px;
    background-color: white;
    border-radius: 40px;
    font-weight: 300;
}

/* / header */

/* jumbo */

#jumbo {
    height: 550px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    position: relative;
    color: white;
    line-height: 30px;
}

#jumbo .jumbo-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
}

.jumbo-content {
    text-align: center;
}

.jumbo-content h1{
    font-size: 56px;
    margin-bottom: 40px;
}

.jumbo-content p{
    font-size: 20px;
    margin-bottom: 40px;
    font-weight: 300;
}

.btn {
    padding: 16px 32px;
    font-size: 20px;
    border-radius: 2em;
    text-decoration: none;
}

.jumbo-content a i{
    padding-right: 10px;
}

.jumbo-content a:last-child{
    margin-left: 24px;
}

/* /jumbo */

/* main */



#section-main {
    width: 100%;
    padding: 100px 0;
}

.container-main {
    display: inline-block;
}

.main-img {
    width: 70%;
    float: left;
}

.descrizione {
    width: 30%;
    float: right;
}

.descrizione h2{
    font-size: 50px;
    line-height: 50px;
}

.descrizione p {
    margin-top: 20px;
    font-size: 20px;
    line-height: 30px;
}









/* debug  */


 /* .debug header {
    background-color: #9400ff;
 }

 .debug nav{
     background-color: #fff;
     border: black 1px solid;
 }

.debug .logo {
    background-color: #fff;
    border: black 1px solid;
}

.debug .button {
    background-color: #fff;
    border: black 1px solid;
} */
